*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1631631480669-535cc43f2327?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    background-color: rgb(242, 236, 236);
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 60px;
    /* border: 3px solid black; */
    font-size: 20px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: rgb(201, 194, 194);
}

nav li:first-child{
    margin-right: auto;
    font-size: 30px;
}

.sidebar{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.404);
    backdrop-filter: blur(10px);
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menuBtn{
    display: none;
}

@media(max-width:790px){
    .hideOnMobile{
        display: none;
    }
    .menuBtn{
        display: block;
    }
}

@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}
