*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 20px;
}

h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: grey;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}

.navbar a:hover{
    background-color: rgba(11, 11, 11, 0.229);
}

.navbar li{
    float: left;
}